
@use '../abstracts/config' as *;

// Estilos globales del body 
body {
    background-color: $color-background-light;
    margin: 0; // Quita el margen por defecto del body
    // Propiedades para el "Sticky Footer" con Flexbox
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}