@use '../abstracts/config'; // Ruta actualizada
// assets/scss/base/_reset.scss

html {
    height: 100%;
    box-sizing: border-box; // Define el box-sizing en la raíz
}

*, *::before, *::after {
    box-sizing: inherit; // Hace que todos los elementos hereden el box-sizing del html
}

// Quita el margen por defecto de la lista
ul {
    list-style: none;
    padding: 0; // Asegura que no haya padding por defecto en la lista
    margin: 0; // Asegura que no haya margin por defecto en la lista
}