// assets/scss/components/_button.scss
@use '../abstracts/config';
@use 'sass:color';

.button {
    display: inline-block;
    padding: config.$spacing-small config.$spacing-medium;
    border-radius: config.$border-radius-small;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all config.$transition-speed config.$transition-ease;
    border: 1px solid transparent; // Borde por defecto transparente
    font-size: config.$font-size-base;

    &--primary {
        background-color: config.$color-amazon-orange;
        color: config.$color-primary-text; // Texto oscuro sobre naranja
        border-color: config.$color-amazon-orange;

        &:hover {
            background-color: color.adjust(config.$color-amazon-orange, $lightness:-10%);
            border-color: color.adjust(config.$color-amazon-orange, $lightness:-10%);
            color: config.$color-primary-text;
        }
    }

    &--secondary {
        background-color: config.$color-light-grey;
        color: config.$color-primary-text;
        border-color: config.$color-border-grey;

        &:hover {
            background-color: color.adjust(config.$color-light-grey, $lightness:-5%);
            border-color: color.adjust(config.$color-border-grey, $lightness:-5%);
        }
    }
}