// assets/scss/components/_filter-buttons.scss
@use '../abstracts/config';
// Importé el parcial del botón para usar @extend
@use 'button'; // Importé el parcial '_button.scss' directamente

.filter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; // Por si hay muchos botones en móvil
    gap: config.$spacing-small;
    margin-bottom: config.$spacing-large;

    .filter-button {
        @extend .button; // Reutiliza estilos base de .button
        @extend .button--secondary; // Y sus estilos secundarios

        &.active {
            background-color: config.$color-amazon-light-blue; // Color de botón activo
            color: config.$color-white;
            border-color: config.$color-amazon-dark-blue;
        }
    }
}