// assets/scss/layout/_footer.scss
@use '../abstracts/config'; 

.main-footer {
    background-color: config.$color-amazon-dark-blue;
    color: config.$color-white;
    padding: config.$spacing-medium 0; // Mantenemos este para control exacto del padding
    font-size: config.$font-size-small;
    margin-top: auto; /* crucial para el "Sticky Footer" */

    // El .container dentro del footer ahora se manejará con clases de Bootstrap en el HTML
    // El .social-links (display y gap) también se manejarán con clases de Bootstrap en el HTML
    
    // Estilos específicos para los enlaces sociales que Bootstrap no cubre
    .social-links {
        a {
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}