/* Error: There's already a module with namespace "config".
 *     ,
 * 1   | @use '../abstracts/config'; // Ruta actualizada
 *     | ========================== original @use
 * ... |
 * 3   | @use '../abstracts/config'; // Importa variables para tipografía
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use
 *     '
 *   assets/scss/base/_typography.scss 3:1  @use
 *   assets/scss/base/_base.scss 6:1        @use
 *   assets/scss/style.scss 9:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"config\".\a     \2577 \a 1   \2502  @use '../abstracts/config'; // Ruta actualizada\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 3   \2502  @use '../abstracts/config'; // Importa variables para tipograf\ed a\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use\a     \2575 \a   assets/scss/base/_typography.scss 3:1  @use\a   assets/scss/base/_base.scss 6:1        @use\a   assets/scss/style.scss 9:1             root stylesheet";
}
